#menu-logo {
  display: flex;
  align-items: center;
  padding: 2%;
}

#menu-top a {
  color: #3a1d5f;
  padding-right: 100px;
  padding-top: 1px;
}
#menu-top a:hover {
  color: orange;
  transform: 2s;
}

#menu-bottom a {
  color: #3a1d5f;
}
#voz ul li {
  background-color: #f2f3f5;
  color: #3a1d5f;
  float: left;
  width: 150px;
  height: 30px;
  display: inline-block;
  text-align: start;
  line-height: 30px;
  font-size: 20px;
  list-style: none;
  list-style-type: none;
}
.submenu1 {
  display: none;
}
#voz ul li:hover .submenu1 {
  display: block;
  position: absolute;
  background: #f0eaea;
  margin-top: 15px;
  margin-left: -15px;
}
#voz :hover {
  border-bottom: solid 5px #3a1d5f;
}
#voz ul {
  padding: 0;
  list-style-type: none;
}

#sms ul li {
  background-color: #f2f3f5;
  color: #3a1d5f;
  float: left;
  width: 150px;
  height: 30px;
  display: inline-block;
  text-align: start;
  line-height: 30px;
  font-size: 20px;
  list-style: none;
  list-style-type: none;
}
#sms a {
  text-decoration: none;
  color: #3a1d5f;
  list-style: none;
}
#sms :hover {
  border-bottom: solid 5px #3a1d5f;
}
#sms ul {
  padding: 0;
  list-style-type: none;
}

#inter ul li {
  background-color: #f2f3f5;
  color: #3a1d5f;
  float: rigth;
  width: 150px;
  height: 30px;
  display: inline-block;
  text-align: start;
  line-height: 30px;
  font-size: 20px;
  list-style: none;
  list-style-type: none;
}

#inter a {
  text-decoration: none;
  color: #3a1d5f;
  list-style: none;
}

#inter :hover {
  border-bottom: solid 5px #3a1d5f;
}
#inter ul {
  padding: 0;
  list-style-type: none;
}
#roaming ul li {
  background-color: #f2f3f5;
  color: #3a1d5f;
  float: left;
  width: 150px;
  height: 30px;
  display: inline-block;
  text-align: start;
  line-height: 30px;
  font-size: 20px;
  list-style: none;
  list-style-type: none;
}

#roaming a {
  text-decoration: none;
  color: #3a1d5f;
  list-style: none;
}

#roaming :hover {
  border-bottom: solid 5px #3a1d5f;
}
#roaming ul {
  padding: 0;
  list-style-type: none;
}
#mundo-unitel ul li {
  background-color: #f2f3f5;
  color: #3a1d5f;
  float: left;
  width: 150px;
  height: 30px;
  display: inline-block;
  text-align: start;
  line-height: 30px;
  font-size: 20px;
  list-style: none;
  list-style-type: none;
}
#mundo-unitel a {
  text-decoration: none;
  color: #3a1d5f;
  list-style: none;
}

#mundo-unitel:hover {
  border-bottom: solid 5px #3a1d5f;
}
#mundo-unitel ul {
  padding: 0;
  list-style-type: none;
}
#servico ul li {
  background-color: #f2f3f5;
  color: #3a1d5f;
  float: left;
  width: 150px;
  height: 30px;
  display: inline-block;
  text-align: start;
  line-height: 30px;
  font-size: 20px;
  list-style: none;
  list-style-type: none;
}
#servico a {
  text-decoration: none;
  color: #3a1d5f;
  list-style: none;
}
#voz a {
  text-decoration: none;
  color: #3a1d5f;
  list-style: none;
}

#servico :hover {
  border-bottom: solid 5px #3a1d5f;
}
#servico ul {
  padding: 0;
  list-style-type: none;
}
#Apoio-ao-Cliente :hover {
  border-bottom: solid 5px #3a1d5f;
}
#Apoio-ao-Cliente {
  list-style-type: none;
}
#servico {
  list-style-type: none;
}
#roaming {
  list-style-type: none;
}
#inter {
  list-style-type: none;
}
#sms {
  list-style-type: none;
}
#mundo-unitel {
  list-style-type: none;
}
#voz {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menu-logo {
  display: flex;
  align-items: center;
  padding: 2%;
}

#menu-top a {
  color: #3a1d5f;
}
#menu-top a:hover {
  color: orange;
  transform: 2s;
}

#menu-bottom a {
  color: #3a1d5f;
}

#img-carousel {
  height: 450px;
}

#menu-actions {
}

#search {
  color: #3a1d5f;
  padding: 28px;
  padding-left: 3%;
  padding-bottom: 20%;
}

#search:hover {
  color: orange;
}

#p {
  text-align: center;
}
#r {
  background: #5700c2;
  padding: 24px;
}
#user {
  background: #3a1d5f;
  padding: 24px;
}

#phone {
  padding: 35px;
  background: #f76531;
  color: white;
  border-right: solid 1px #ffc106;
}

#internet {
  background: #f76531;
  padding: 35px;
  color: white;
  border-right: solid 1px #ffc106;
}

#compras {
  background: #f76531;
  padding: 35px;
  color: white;
  border-right: solid 1px #ffc106;
}
#music {
  background: #f76531;
  padding: 35px;
  color: white;
  border-right: solid 1px #ffc106;
}

#music:hover {
  color: #3a1d5f;
}

#internet:hover {
  color: #3a1d5f;
}
#compras:hover {
  color: #3a1d5f;
}

#phone:hover {
  color: #3a1d5f;
}

#r1 {
  display: flex;
  margin-right: 40px;
  margin-left: 5px;
  padding: 3%;
}

#conteudo {
  margin-left: 40px;
  color: #3a1d5f;
}

#conteudo {
  width: 800px;
  margin-right: 40px;
}

#parag {
  margin-bottom: 50px;
  margin-left: 100px;
}

#conteudo {
  margin-left: 40px;
  color: #3a1d5f;
}
#titulo {
  display: flex;
  color: #3a1d5f;
  padding: 2%;
}

#auxiliar {
  margin-top: 180px;
  margin-right: 0px;

  margin-left: 200px;
}

h2 {
  color: #3a1d5f;
  font: 33.60625px intro_blackregular, Arial, Helvetica;
  margin: 15px 0px 0px;
}

#botao {
  color: orange;
  background: #3a1d5f;
  font: 16px intro_bookregular, sans-serif;
}

.card #paragrafo :hover {
  background: #ffffff;
}
.card #botao:hover {
  background: orange;
  color: #ffffff;
}

#r {
  margin-right: 40px;
  margin-left: 15px;
  padding: 3%;
}

h1,
h2 {
  color: #3a1d5f;
  font: 33.60625px intro_blackregular, Arial, Helvetica;
  margin: 15px 0px 0px;
}
#banner1 {
  margin-left: 10px;
  margin-right: 10px;
}
#banner1:hover {
  border: solid 1px white;
  box-shadow: rgb(189, 186, 186);
}
#banner2:hover {
  border: solid 1px white;
  box-shadow: rgb(189, 186, 186);
}

#img {
  width: 1349px;
}

#botao {
  color: orange;
  background: #3a1d5f;
  font: 16px intro_bookregular, sans-serif;
}

#plano {
  color: #3a1d5f;
}
.container-fluid {
  width: 90%;
  padding: 0;
}
.margen-mk-0 {
  margin-right: 0;
  margin-left: 0;
}

.background-equipamento {
  height: 500px;
  background-image: url(../assets/phone.png);
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;

  margin-bottom: 2rem;
}

.background-equipamento > .container {
  width: 70%;
  padding-top: 2rem;
}

.background-equipamento h1 {
  color: #f16223;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
  font-family: Ubuntu;
}
#owl-carousel .item img {
  margin: 0;
  width: 339px;
}

.background-equipamento p {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#banner1 {
  margin-left: 100px;
  margin-right: 10px;
}
.padding-padrao {
  padding-left: 0 !important;
}

.title-destaque {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-bottom: 3rem;
}

.title-destaque h1 {
  color: #5c0f8b;
  font-weight: bold;
  font-family: Ubuntu;
  font-size: 3rem;
}

#equipamentos {
  color: #3a1d5f;
}

#equipamento h1 {
  color: black;
}

#telemoveis {
  background: #3a1d5f;
  color: #f16223;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 140px;
  margin-top: 20px;
  height: 40px;
  padding-top: 10px;
  padding-top: 10px;
}
#acessorios {
  color: #3a1d5f;
  border-bottom: solid 1px #3a1d5f;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-top: 10px;
}
#acessorios:hover {
  color: white;
  background: rgb(88, 88, 88);
}

#footer {
  background-color: #3a1d5f;
  padding-top: 4%;
}
.rodape {
  color: #d96704;
}
#p0:hover {
  color: #d95130;
}
#p1:hover {
  color: #d95130;
}
#p2 :hover {
  color: #d95130;
}
#p3 :hover {
  color: #d95130;
}
#p4 :hover {
  color: #d95130;
}
#p5 :hover {
  color: #d95130;
}
#p6 :hover {
  color: #d95130;
}
#p7 :hover {
  color: #d95130;
}
#p8 :hover {
  color: #d95130;
}
#p9 :hover {
  color: #d95130;
}
#p10 :hover {
  color: #d95130;
}
#p11 :hover {
  color: #d95130;
}
#p12 :hover {
  color: #d95130;
}
#p13 :hover {
  color: #d95130;
}
#p14 :hover {
  color: #d95130;
}
#p15 :hover {
  color: #d95130;
}
#p16:hover {
  color: #d95130;
}

#footer {
  background-color: #3a1d5f;
  padding-top: 50px;
  padding-left: 150px;
}
#logo {
  padding-top: 30px;
  padding-right: 90px;
  margin-right: px;
}

.equipamentos-mk {
  text-align: center;
}

.equipamentos-mk h1 {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.equipamentos-mk .nav-item {
  width: 50%;
  margin-bottom: 3rem;
  border-bottom: 2px solid #3a1d5f;

  font-family: Ubuntu;
  font-weight: 100;

  color: #3a1d5f !important;
}

.equipamentos-mk .nav-item .active {
  padding: 1rem;
  border-radius: 0;
  background: #5c0f8b !important;

  color: #f16223;
  font-weight: bold;
}

#botao-anterior #botao-proximo {
  position: absolute;
  top: 500px;
}

#botao-anterior {
  left: 100px;
}
#botao-proximo {
  right: 35pxs;
}

#img2 {
  margin-top: 300px;
}

#home-tab :hover {
  background: #5c0f8b;
}
#profile-tab {
  color: #5c0f8b;
}

#profile-tab:hover {
  background: rgb(94, 87, 87);
  color: #ffffff;
}

/* End Equipamentos ==================== */

/* ============================== Menu =============================== */

.menuFeito {
  width: 100% !important;
  height: 70px;
  background-color: #f7f7f7;
  font-family: Ubuntu;
}

.menuFeito ul {
  list-style: none !important;
  position: relative;
}

.menuFeito > ul > li {
  float: left;
}

.menuFeito a {
  padding: 15px;
  display: block;
  text-decoration: none;

  text-align: center;
  font-weight: bold;
  color: #641b91;
}

.menuFeito ul ul {
  position: absolute;
  visibility: hidden;
  background: #f7f7f7;
}

.menuFeito ul li:hover ul {
  visibility: visible;
  width: 100%;
  margin: 0 auto;
  left: 0;
  position: absolute;

  transition: all 2s;
}

.menuFeito a:hover {
  border-bottom: 3px solid #641b91;
  color: #641b91;
}

.menuFeito ul ul {
  margin: 0 auto;
  z-index: 1;
  text-align: center;
}

.menuFeito ul ul li {
  margin: 0 auto;
  display: inline-block;
}

/* ====================== Em Destaque ====================== */
.emdestaque {
  padding: 0 0.8rem;
}

/* ======================= CARROUSEL ====================== */
.item img {
  width: 320px !important;
  height: 320px !important;
}

/* ===================== Footer ============================ */
.footer {
  background-color: #3a1d5f;

  padding: 2rem 0;
}

.footer .rodape a {
  display: block;
  color: #f16223;
  text-decoration: none;
}

.footer .rodape a + a {
  margin-top: 0.6rem;
}

.footer .redes-sociais {
  margin-top: 2rem;
}

.footer .redes-sociais a {
  color: #f16223;
  font-size: 1.2rem;
}

.footer .redes-sociais a + a {
  margin-left: 1rem;
}

/* OWL  */
.owl-nav {
  top: -1rem;
  right: 0;
}

.owl-nav .owl-prev {
  position: absolute;
  right: 0;
  top: 7rem;
}
.owl-nav .owl-next {
  position: absolute;
  left: 0;
  top: 7rem;
}

.owl-nav .owl-next span,
.owl-nav .owl-prev span {
  font-size: 3rem;
  font-weight: 100;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  background-color: transparent !important;
  color: #000 !important;
}

.owl-dots {
  display: none;
}

/* ============================= Pesquisa */
.btn-pesquisa {
  background: transparent !important;
  border: 0;
}
.pesquisa {
  display: none;
}
.pesquisa.active {
  background: #f7f7f7;
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  margin: 0 auto;

  display: flex;
}

.pesquisa input {
  margin: 0 auto;
  width: 66%;
  padding: 0.6rem 1rem;
  z-index: 1;
}
.tel-nome{
  font-size: 35px;
  color: #f16223;
}

.tel-preco{
  color: #5c0f8b;
  font-size: 35px;
}
#subrodape{
  border-top:#5c0f8b 1px solid;
  margin-top: 100px;
}
#subrodape li{
  list-style: none;
}
#subrodape a{
  text-decoration: none;
  color: #d95130;
 display: flex;

}
.redes-sociais a:hover{
  color: #f0eaea;
}

#termo{
  margin-top: 40px;
  display: block;
}
#subrodape p{
  color: #d95130;
  margin-left: 100px;
  margin-top: 40px;
}